@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #fdebea;
}
.btn-primary {
  @apply bg-primary rounded-full text-black font-bold text-xs sm:text-sm md:text-base lg:text-lg  px-3 sm:px-4 md:px-6 py-1 sm:py-2 cursor-pointer;
}
.btn-outline {
  @apply border border-gray-400 rounded-xl font-bold text-xs sm:text-sm md:text-base lg:text-lg px-3 sm:px-4 md:px-6 py-1 sm:py-2 cursor-pointer;
}
.btn-arrow {
  @apply bg-secondary text-primary font-bold rounded-full -rotate-45 text-xs sm:text-sm md:text-base lg:text-lg p-2 sm:p-3 cursor-pointer;
}

.banner-btn-div {
  @apply absolute inset-0 flex items-end justify-start p-4 sm:p-6 md:p-10 lg:p-14 gap-3;
}


.headings{
  @apply text-lg sm:text-xl md:text-2xl lg:text-4xl font-extrabold
}
.description{
  @apply text-gray-400 text-xs sm:text-sm md:text-base
}

.content-title{
  @apply font-bold text-sm sm:text-lg md:text-xl lg:text-2xl
}